body {
  background: url(../images/newbg.png) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cabin Sketch', cursive;
}



#start{
    text-align:center;
}

h1{
    font-size:45px;
}

h1,h2{
    font-family: 'Cabin Sketch', cursive;
}

.name-input{
    border: 1px solid black;
}

.enter-name{
    display:none;
}

.add-name{
    border: 1px solid black;
    padding-bottom: 1px;
}

.hands{
    width:370px;
    margin:0 auto;
    font-size: 45px;
}

#p1-rock, #p2-rock{
    color:#ef403c;
}

#p1-paper, #p2-paper{
    color:#e8e847;
}

#p1-scissors, #p2-scissors{
    color:#3e3ef3;
}

#title{
    margin-bottom:0px;
}

#description{
    margin-top:0px;
    margin-bottom: 20px;
}

.p1-hands, .p2-hands {
    cursor:pointer;
}

.player-row{
    text-align: center;
}

.rps-icon{
    height:60px;
    width:75px;
    margin-top:20px;
}

.player-scores{
    font-size:16px;
}

.battleground {
    border: 3px solid black;
    min-height: 340px;
}

.details {
    font-size:25px;
}

.chat-box{
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    float: none;
    margin: 0 auto;
    height: 200px;
    background-color: #fff9be;
    border-radius: 4px;
    overflow-y: auto;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
}

#chat-input {
    border: 1px solid black;
    font-family:arial;
    font-weight: bold;
}

#send-button{
    border: 1px solid black;
    padding-top: 1px;
    background-color: white;
    padding-bottom: 0px;
}

.input-section{
    text-align:center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) { 
    h2{
        font-size:16px;
    }

    h3{
        font-size: 14px;
    }

    .score-counters{
        font-size: 12px;
    }
 }