#start{
    text-align:center;
}

h1{
    color:blue;
}

.hands{
    width:370px;
    margin:0 auto;
    font-size: 40px;
}

.player-row{
    text-align: center;
}

.rps-icon{
    font-size:40px;
    margin-top:20px;
}

.score-counters{
    font-size:18px;
}

.battleground {
    border: 1px solid black;
    min-height: 340px;
}